body {
  background: rgb(197, 87, 72);
}

/* HOME TABLE */
.home-table-container {
  margin: 0 auto;
  border: 2px solid black;
  width: 50%;
  font-size: 18px;
}
.table-header-row {
  background-color: rgb(179, 173, 173);
}
.table-row:nth-of-type(odd){
  background-color: rgb(212, 193, 193);
}
.groups-table-row:nth-of-type(odd) {
  background-color: rgb(135, 175, 159);
}

.table-score, .header-score, .header-group-holder, .table-group-holder {
  text-align: right;
}
th, td {
  padding: 8px;
}
.home-table-title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.second-home-table {
  margin: 40px 0;
}




/* editing routes */
.camper-edit, .group-edit {
  margin: 30px;
}
.error-message {
  color: red;
  text-align: center;
}
.camper-input, .score-input {
  min-width: 200px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/* admin.ejs styling */
.groupContainer {
  position: relative;
  float: left;
  left: 80px;
}
.camperContainer {
  position: relative;
  float: right;
  right: 80px;
}

.title {
  text-align: center;
  text-decoration-line: underline;
}

.add-delete-link {
  text-align: center;
}

.admin-logged-message {
  text-align: center;
  font-size: 24px;
  color: maroon;
}

.score-input {
  max-width: 50px;
  display: inline;
}

.signup-error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signup-header{
  font-size: 25px;
}
.camper-input {
  margin-top: 30px;
}

.do-not-show {
  display: none;
}

/* #delete-camper-modal, #delete-group-modal, #camper-deleted, #error {
  display: none;
} */

/* ERROR STYLING */
.hit-back-button {
  text-align: center;
}