body {
  background: rgb(197, 87, 72);
}

.app {
  margin: 0 30px;
}

///////////////////

.error-message {
  color: red;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* ERROR STYLING */
.hit-back-button {
  text-align: center;
}