.camper-form {
  display: flex;
  flex-direction: column;
}

.camper-input {
  margin: 0 80px;
}

.save-camper-button {
  margin: 20px 160px;
}

.delete-camper-button {
  margin: 0 160px 20px;
}

.no-yes-button {
  margin: 10px;
  background-color: yellow;
  color: black;
}

.camper-input-error {
  color: yellow;
}
