.group-edit {
  text-align: center;
}

.group-edit a {
  color: rgb(55, 87, 156);
  font-weight: 600;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.name-title {
  font-size: 16px;
  margin: 0 10px;
}

.campers-table-title {
  margin: 10px 0;
  font-size: 26px;
  text-decoration: underline;
}

.table-header-row {
  background-color: rgb(179, 173, 173);
}
.table-row:nth-of-type(odd){
  background-color: rgb(212, 193, 193);
}

th, td {
  padding: 8px;
  font-size: 14px;
}

.add-camper-button {
  margin: 0 20px;
}

table {
  margin-top: 20px;
}

.download-button {
  margin: 20px 0;
}

.no-yes-button {
  margin: 10px;
  background-color: yellow;
  color: black;
}
